body {
  /*background-color: linear-gradient(45deg, #30ead0 15%, #4dc768 85%);
  background-image: -moz-linear-gradient(45deg, #30ead0 15%, #4dc768 85%);
  background-image: -webkit-linear-gradient(45deg, #30ead0 15%, #4dc768 85%);
  background-image: -ms-linear-gradient(45deg, #30ead0 15%, #4dc768 85%);
  background-image: linear-gradient(45deg, #30ead0 15%, #4dc768 85%);*/
}



.cuadro {
  padding-top:    @jumbotron-padding;
  padding-bottom: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  color: inherit;
  background-color: rgba(59, 167, 7, 0.34);
  margin: 40px;
  margin-top: 80px;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;

  h1,
  .h1 {
    color: @jumbotron-heading-color;
  }

  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container &,
  .container-fluid & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
    padding-left:  (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding * 1.6);

    .container &,
    .container-fluid & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: @jumbotron-heading-font-size;
    }
  }
}

#espacio{
  background-color: red;
}
#iconos{
  color: green;
}
/* Por debajo de 700px */(
@media screen and (max-width: 700px){
.cuadro{
font-size:10px;
}
img {
    width:60%;
}
}
/* Por debajo de 400px */(
@media screen and (max-width: 400px){
.cuadro{
font-size:8px;
}
img {
    width:40%;
}
}
